.cabecalho {
  height: 8vh;
  border: 0.2vh solid blue;

  margin: 0.2% 0.2% 0.2% 0.2%;
  background-color: aqua;
  border-radius: 4px;
  padding-top: 0.2%;
  padding-left: 0.2%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;  /* centralização horizontal */
  align-items: center;  /* centralização vertical */
}

