.rodape {
  height: 5vh;
  border: 0.2vh solid darkmagenta;
  border-radius: 4px;
  margin: 0.2% 0.2% 0.2% 0.2%;
  background-color: rgb(236, 202, 202);

  font-size: 12px;

  padding-top: 0.9%;
  padding-left: 2%;

  box-shadow: 0.1% 0.1% #0e89af;

  color: chocolate;

  display: flex;
  justify-content: center;  /* centralização horizontal */
  align-items: center;  /* centralização vertical */
}

